.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1vw;
}

.button, .selector {
    font-size: 1rem;
    padding: 1vw;
    min-width: 30%;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        display: none;
    }
}

.selector {
    display: inline-block;

    option {
        display: inline-block;
        background-color: #111;
    }
}
