.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1vw;
}

.button, .selector {
    background-color: #fff2;
    border: thin solid black;
    color: white;
    font-size: 1rem;
    padding: 1vw;
    min-width: 30%;
    box-sizing: border-box;

    &[disabled] {
        color: gray;
    }

    &:hover {
        background-color: #fff3;
    }

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        display: none;
    }
}

.selector {
    display: inline-block;

    option {
        display: inline-block;
        background-color: #111;
    }
}
