.note {
    border: none;
    flex-grow: 1;
    resize: none;
    overflow-y: scroll;
    background-color: #111;
    color: white;
    font-size: 1.1rem;

    &::-webkit-scrollbar:hover,
    &::-webkit-scrollbar-thumb:hover {
        cursor: default;
    }
}
