.hover:hover {
    cursor: pointer;
    background-color: #fff1;
}

.click {
    &:hover {
        transition: 100ms;
    }
    &:active {
        background-color: #8f84;
    }
}

/*---------------------*/

.setting {
    border-top: thin solid gray;
    display: flex;
    flex-direction: row;

    button {
        flex-grow: 1;
        border: none;
        color: #f44;
        background-color: #fff1;

        &:hover {
            background-color: #fff2;
        }

        &.enable {
            color: #4bf;
        }
    }
}

.search {
    background-color: #fff1;
    border: none;
    border-bottom: thin solid #fff1;
    font-size: 0.75lh;
    outline: none;
    color: white;

    &:focus {
        background-color: #fff2;
    }
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        background-color: #fff1;
        width: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #fff1;
    }
}

.title {
    width: 100%;
    box-sizing: border-box;

    .showHide {
        color: gray;
    }

    summary {
        list-style: none;
    }

    &[open] {
        summary {
            background-color: #fff1;
            text-align: center;
        }
        &:not(:first-child) {
            border-top: thin solid gray;
        }
        border-bottom: thin solid gray;
    }
}

.note {
    color: gray;
    width: 100%;
    display: block;
    resize: none;
    field-sizing: content;
}
