@import "tailwindcss";
@import "./window.css";

@theme default {
    /* core colors */
    --color-text: var(--color-neutral-50);
    --color-text-gray: var(--color-neutral-400);

    --color-bg: var(--color-neutral-950);
    --color-layerA: var(--color-neutral-950);
    --color-layerB: var(--color-neutral-900);
    --color-layerC: var(--color-neutral-800);
    --color-layerD: var(--color-neutral-700);
    --color-layerE: var(--color-neutral-600);
    --color-layerF: var(--color-neutral-500);
    --color-hover: var(--color-layerC);

    --color-button-bg: var(--color-layerB);
    --color-button-hover: var(--color-hover);
    --color-button-active: var(--color-layerC);
    --color-button-border: var(--color-border);

    --color-border: var(--color-layerC);
    --color-warn: #db0;
    --color-fail: #c44;
    --color-link: #48f;
    --color-disable: #d44;
    --color-enable: #4bf;

    --color-app-edge: #248;

    --color-svg: var(--color-text);
    --color-svg-disable: var(--color-layerC);

    /* core styles */
    --radius-button: 0;

    --radius-scrollbar-thumb: 0;
    --color-scrollbar: var(--color-layerB);
    --color-scrollbar-thumb: var(--color-layerC);
    --color-scrollbar-corner: var(--color-layerA);
    --scrollbar-size: 8px;

    /* page styles */
    --color-sidebar-border: var(--color-border);
    --color-sidebar-border-tab: var(--color-border);
    --color-sidebar-bg: var(--color-bg);
    --color-sidebar-tab-active: var(--color-layerC);
    --color-sidebar-tab-text-active: var(--color-text);
    --color-sidebar-tab: var(--color-layerB);
    --color-sidebar-tab-text: var(--color-text-gray);

    --color-auth-accent: #08f3;
    --color-auth-accent-hover: #08f5;
    --color-auth: #0000;
    --color-auth-hover: #fff1;

    --color-memestock-hover-image-outline: red;

    --color-reminder-notified: var(--color-red-950);

    --color-todo-sort-before: var(--color-red-950);
    --color-todo-sort-after: var(--color-green-950);

    --color-videocut-skip-hover: #fff3;

    --color-launcher-tile-bg: var(--color-blue-500);
    --color-launcher-tile-bg-active: var(--color-blue-600);
    --color-launcher-tile-hover-outline: #fff3;
    --color-launcher-label-bg-locked: #fff1;
    --color-launcher-label-border: var(--color-neutral-800);
    --color-launcher-label-border-hover: var(--color-blue-300);
    --color-launcher-label-bg-locked-hover: #08f5;
}

*:focus {
    outline: none;
}

html {
    font-size: 2vh;
    height: 100vh;
    width: 100vw;
}

body {
    font-family: "Arial";
    box-sizing: border-box;
    border-color: var(--color-app-edge);
    color: var(--color-text);
    margin: 0;
    height: 100%;
    width: 100%;
    user-select: none;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

::-webkit-scrollbar {
    background-color: var(--color-scrollbar);
    width: var(--scrollbar-size);
    height: var(--scrollbar-size);
    border-radius: var(--radius-scrollbar-thumb);
}

::-webkit-scrollbar-corner {
    background-color: var(--color-scrollbar-corner);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);
}

@layer base {
    * {
        border-color: var(--color-border);
    }

    button {
        border-radius: var(--radius-button);
        text-align: center;
        cursor: pointer;

        &:not(:disabled):hover {
            background-color: var(--color-button-hover);
        }
    }

    button, select, input {
        @apply px-1 py-0.5;
        display: inline-block;
        color: var(--color-text);
        width: 100%;

        border: thin solid var(--color-button-border);
        background-color: var(--color-button-bg);
        transition: 100ms;

        &:disabled {
            color: var(--color-text-gray);
            cursor: not-allowed;
        }
    }

    button, select {
        &:not(:disabled) {
            &:active {
                transition: 0;
                background-color: var(--color-button-active);
            }
        }
    }

    input {
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            display: none;
        }
    }

    select {
        &:not(:disabled):hover {
            border-color: #888;
        }
        height: 1.1rlh;
    }

    option {
        background-color: var(--color-layerB);
    }

    input[type="range"] {
        appearance: none;
        background-color: transparent;
        border: none;
        &:active {
            background-color: transparent;
        }

        &::-webkit-slider-runnable-track {
            background-color: #333;
            border: thin solid #444;
            height: 4px;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            border-radius: 0;
            background-color: #555;
            border: thin solid #666;
            margin-top: -6px;
            width: 6px;
            height: 16px;
        }
    }
}

@layer utilities {
    .scrollbar-default-cursor {
        &::-webkit-scrollbar:hover,
        &::-webkit-scrollbar-thumb:hover {
            cursor: default;
        }
    }
}
