@import "tailwindcss";

@theme {
    --color-layerA: #ffffff0c;
    --color-layerB: #ffffff1c;
    --color-layerC: #ffffff2c;
    --color-layerD: #ffffff3c;
    --color-layerE: #ffffff4c;
    --color-layerF: #ffffff5c;
    --color-border: #ffffff30;
    --color-text-gray: #777777;
    --color-fail: #c44;
    --color-link: #48f;
}

*:focus {
    outline: none;
}

body {
    font-family: "Arial";
    box-sizing: border-box;
    border: thin solid #248;
    background-color: #111;
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
    user-select: none;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

::-webkit-scrollbar {
    background-color: #fff1;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #fff1;
}
