/* bodyにはウィンドウラベルのクラスが付与されます */

body.main {
    background-color: var(--color-bg);
    border-width: thin;
}

body.launcher {
    background-color: #000d;
}

img {
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
}
