.button {
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    border: thin solid #fff2;
    background-color: #fff2;

    &:hover {
        background-color: #fff3;
    }

    transition: 200ms;
    &:active {
        transition: 0ms;
        background-color: darkgreen;
    }
}
